[submodule "contrib/pybind11"]
	path = contrib/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = git@github.com:abseil/googletest.git
[submodule "contrib/cub"]
	path = contrib/cub
	url = git@github.com:NVlabs/cub.git
